<!--

  base.html

 -->
<!DOCTYPE html>
<html>

<head>
    <title>HUGGABLE CLOUDER</title>
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <link rel="stylesheet" href="css/style.css" />

</head>
<body>
    THIS IS THE MOST ELEGANT SENTANCE EVER.
    <div class="container">
        <header>
            We Up Here in the Header
        </header>
        <section>
            <p>No this is elegant</p>
        </section>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>